<a href="https://example.com/" target="_blank" rel="noopener noreferrer">
  Visit External Page
  <sl-icon name="box-arrow-up-right"></sl-icon>
  <sl-visually-hidden>opens in a new window</sl-visually-hidden>
</a>
