<div class="prose lg:prose-lg dark:prose-invert">
  <h1>
    Quick start
  </h1>

  <h2>
    Installation
  </h2>

  <p>
    Within your ember-cli project folder, run the following:
  </p>

  <pre><code>ember install shoelace-ember</code></pre>

  <h2>
    Configuration
  </h2>
  <p>
    Optionally edit your environment.js file to include the following:
  </p>

  <pre><code>ENV['shoelace-ember'] = { languages: ['nl'], // optional, when
      omitted only 'en' is included into your build language: 'nl', // optional,
      defaults to 'auto' theme: 'light', // optional, defaults to 'auto' };</code></pre>
</div>