<div class="prose lg:prose-lg dark:prose-invert">
  <h1>
    Ember Shoelace
  </h1>

  <p>
    Addon that integrates
    <a href="https://shoelace.style/">Shoelace</a>
    into your Ember application.
  </p>

  <hr />

  <p>This is the test application for the Ember Shoelace addon. It's a great way
    to test and debug the addon locally. It is also deployed as a documentation
    site for the addon.</p>

  <p>Parity with the web components library is a goal. Currently parity exists
    with version v2.9.0 of the @shoelace-style/shoelace library. If you are
    missing a new component in this library please feel free to create a PR.</p>

  <p class="text-sm">Please note that this addon was created out of a curiosity
    into the new addon v2 format of Ember. Shoelace seemed a good fit and small
    enough in scope to create an addon for. One didn't exist at the time. I
    believe the addon works well enough but there will be some rough edges.</p>
</div>