{{page-title "TestApp"}}

<h2 id="title">@shoelace-style/ember</h2>

<sl-alert slot="icon" name="info-circle" open>This is an alert</sl-alert>

<sl-badge>Badge</sl-badge>

<sl-icon name="browser-chrome"></sl-icon>

{{outlet}}
